* {
    text-align: center;
}

body {
    width: 1000px;
    margin: auto;
    background-color: white;
    color: black;
}

header {
    display: inline-block;
    background-color: darkgrey;
    color: lightgrey;
    width: 100%;
    border: darkgrey;
    border-width: 5px;
    padding: 10px 0px 10px 10px;
    margin: auto;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

header>img {
    padding-left: 60px;
    float: left;
}

.navButtons {
    display: inline-block;
    padding: 40px 25px 10px 25px;
}

#heroimage {
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: center;
}

#section2 {
    margin-bottom: 30px;
}

#subBanner1 {
    margin-right: 30px;
}

#subBanner2 {
    margin-right: 30px;
}

#featuredSectionBanner {
    width: 50%;
    float: left;
    line-height: 400px;
    margin-left: 15px;
    margin-right: 30px;
}

#featuredSectionTitle {
    font-size: large;
    font-weight: bold;
    float: left;
}
#scrollArticle {
    text-align: justify;
    overflow: scroll;
    width: 45%;
    height: 350px;

}
